.weather-label {
    display: block;
    margin: 0 auto 0.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #2b6777;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 3rem;
    text-align: center;
}

.weather-input {
    display: block;
    margin: 1rem auto 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #2b6777;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    display: block;
    margin: 1rem auto 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #2b6777;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    margin-top: 0;
}

.weather-check {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #2b6777;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 480px) {
    .weather-check {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #2b6777;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
        width: 90%;
    }
}