{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'weather/style.css' %}">
{% endblock %}

{% block title %}
Weather
{% endblock %}


    
{% block body %}
    <h1>Weather</h1>
    <p>You can check the weather here</p>
    <form method='POST'>
        {% csrf_token %}
        <label for='city' class="weather-label">City</label>
        <br>
        <input class="weather-input"t ype='text' id='city' name='city' required>
        <br>
        <button type='submit'>Check the weather</button>

{% endblock %}
    
