{% extends "layout.html" %}


{% block title %}
Homepage
{% endblock %}
    
{% block body %}
    <h1>Welcome to my demo website!</h1>
    <p>This project is a showcase of my skills and what I can build using the Django framework. It demonstrates key features like user authentication, form processing, dynamic content, and database integration. 
    <br>
    The goal of this site is to present my ability to design and develop web applications from both the backend and frontend perspectives. </p>

{% endblock %}
    
