<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Django App
    {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}
    
    {% endblock %}
    
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="hamburger">&#9776;</label>   
    <nav>
        <a href='/'>
            <span role='text' aria-label='Home' title='Home'>Home</span>
        </a>
        <a href='/about'>
            <span role='text' aria-label='About' title='About'>About</span>
        </a>
        
        {% if user.is_authenticated %}

        <div class='dropdown'>
            <span class='droptitle' role='text' aria-label='Diary' title='Diary'>Diary</span>
            <div class='dropcontent'>
                <a href="{% url 'diary:create' %}">New thought</a>
                <a href="{% url 'diary:thoughts' %}">My thoughts</a>
            </div>
        </div>

        <div class='dropdown-weather'>
            <span class='droptitle-weather' role='text' aria-label='Weather' title='Weather'>Weather</span>
            <div class='dropcontent-weather'>
                <a href="/weather">My city</a>
                <a href="{% url 'weather:form' %}">Other city</a>
            </div>
        </div>
    

        <div class='dropdown-users-logged'>
            <span class='droptitle-users-logged' role='text' aria-label='Users' title='Users'>Hi, {{ user.username }}!</span>
            <div class='dropcontent-users-logged'>
                <a href="{% url 'users:info' %}">My account</a>
                <a href="{% url 'users:logout' %}">Logout</a>
            </div>
        </div>
        {% else %}

        <div class='dropdown-users'>
            <span class='droptitle-users' role='text' aria-label='Users' title='Users'>Users</span>
            <div class='dropcontent-users'>
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            </div>
        </div>

        {% endif %}
    </nav>
    {% block body %}

    {% endblock %}
    

</body>
</html>